@import "../core.less";

//********************************************
//	Nav Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height
@nav-height: 40px;
@nav-minHeight: 30px;
@nav-marginBottom: 10px;

@nav-link-padding: 0px 10px;
@nav-link-fontColor: #fff;
@nav-link-hover-bgColor: #ffae00;
@nav-link-disabled-fontColor: green;
@nav-link-fontSize: 14px;

@nav-item-disabled-fontColor: #fff;
@nav-item-borderWidth: 3px;
@nav-item-borderStyle: solid;
@nav-item-borderColor: #ff9600;

// -------------------- Core LEGO --------------------
.Nav() {
	background: #06a3d5;
	border-radius: 3px;
	height: @nav-height;
	min-height: @nav-minHeight;
	list-style: none;
	margin: 0px 0px @nav-marginBottom 0px;
	padding: 0;
	border: 0px solid transparent;

	.Nav--item:first-child a {
		.borderRadius--left (3px);
		padding-left: 10px;
	}

	.Nav--item:last-child a {
		.borderRadius--right (3px);
		padding-right: 10px;
	}
}

// -------------------- Descendands --------------------
.Nav--item() {
	margin: 0;
	padding: 0;
	height: inherit;
	position: relative;
	display: block;
	line-height: @nav-height;
	list-style: none;
	text-align: center;
	display: block;

	.Icon {
		font-size: @nav-link-fontSize * 1.5;
		position: relative;
		top: -1px;
	}

	> a {
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		border-radius: 0;
		color: @nav-link-fontColor;
		padding: @nav-link-padding;
		font-size: @nav-link-fontSize;
		height: inherit;
		line-height: inherit;
		margin: 0px;
		display: block;

		&:hover,
		&:focus{
			text-decoration: none;
			background-color: @nav-link-hover-bgColor;
			border-bottom: @nav-item-borderWidth @nav-item-borderStyle @nav-item-borderColor;
		}
	}
}



// -------------------- Modifiers --------------------


// Nav variants
// -------------------------
.disableNavItem(@disabledBgColor, @disabledFontColor) {
	color: @disabledFontColor;
	a,
	a:hover,
	a:focus {
		color: @disabledFontColor;
		text-decoration: none;
		background-color: @disabledBgColor;
		cursor: not-allowed;
		border-bottom: 0px;
	}
}