@import "../core";

//********************************************
//	Breadcrumb Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height
@breadcrumb-color:           #b3b3b3;
@breadcrumb-padding: 10px;
@breadcrumb-separator-horizontalPadding: 5px;
@breadcrumb-bgColor: #f5f5f5;

//breadcrumb item
@breadcrumb-item-fontColor: #000;
@breadcrumb-item-hover-color: #666;
@breadcrumb-item-active-color: @breadcrumb-item-hover-color;
@breadcrumb-item-disabled-color: #5b5b5b;

// -------------------- Core LEGO --------------------
.Breadcrumb() {
	.padding(@breadcrumb-padding);
	list-style: none;
	background-color: @breadcrumb-bgColor;
}

// -------------------- Descendands --------------------
.Breadcrumb-item() {
	display: inline-block;

	& + &:before {
		.padding-left(@breadcrumb-separator-horizontalPadding);
		.padding-right(@breadcrumb-separator-horizontalPadding);
		content: "/ ";
		color: @breadcrumb-item-fontColor;
	}

	&.is-active {
		.Breadcrumb-link {
			color: @breadcrumb-item-active-color;
			cursor: default;

			&:hover {
				color: @breadcrumb-item-active-color;
			}
		}
	}

	&.is-disabled {
		.Breadcrumb-link {
			color: @breadcrumb-item-disabled-color;

			&:hover {
				color: @breadcrumb-item-disabled-color;
			}
		}
	}
}

.Breadcrumb-link() {
	cursor: pointer;
	color: @breadcrumb-item-fontColor;

	&:hover {
		color: @breadcrumb-item-hover-color;
	}
}