@import "../core.less";
@import "button.variables.less";
@import "button.mixins.less";
//********************************************
//	Buttons
//********************************************/

// When writing Lego's we use BEM naming conventions like the SUIT project
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

// Naming conventions:
// ComponentName
// ComponentName--modifierName
// ComponentName-descendantName
// ComponentName.is-stateOfComponent
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize


// -------------------- Core LEGO --------------------
.Button() {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: @button-borderWidth @button-borderStyle @button-borderColor;
	padding: @button-padding;
	border-radius: @button-borderRadius;
	.min-height(@button-minHeightBaselineUnits);

	&:focus,
	&.is-focus
	{
		.buttonFocus();
	}

	&:active,
	&.is-active {
		outline: 0;
		background-image: none;
		box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	}

	// Should this be in the core?
	&[disabled],
	fieldset[disabled] &
	{
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		.opacity(.65);
		box-shadow: none;
	}
}

// -------------------- Modifiers --------------------
.Button--block() {
	display: block;
	width: 100%;
}

.Button--default() {
	.buttonVariant(@buttonDefault-fontColor, @buttonDefault-bgColor, @buttonDefault-borderColor);
}

// example: next buttons
.Button--primary() {
	.buttonVariant(@buttonPrimary-fontColor, @buttonPrimary-bgColor, @buttonPrimary-borderColor);
}

// example: back buttons
.Button--secondary() {
	.buttonVariant(@buttonSecondary-fontColor, @buttonSecondary-bgColor, @buttonSecondary-borderColor);
}

// example: save or final submit button
.Button--success() {
	.buttonVariant(@buttonSuccess-fontColor, @buttonSuccess-bgColor, @buttonSuccess-borderColor);
}

// example: delete button
.Button--danger() {
	.buttonVariant(@buttonDanger-fontColor, @buttonDanger-bgColor, @buttonDanger-borderColor);
}

// Call to action example: confirm buttons
.Button--cta() {

}

// -------------------- Size Modifiers --------------------
.Button--xs() {

}

.Button--sm() {

}

.Button--md() {

}

.Button--lg() {

}

.Button--xl() {

}

.Button--huge() {

}

// -------------------- Descendants --------------------

// -------------------- States --------------------