@import "../core";

//********************************************
//	Button Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @button--primary-borderColor
// @legoModifier-descendant-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
//default style
@button-fontSize: @base-fontSize;
@button-lineHeight: @base-lineHeight;
@button-paddingVertical: 0px;
@button-minWidth: 1.875rem;

@button-borderRadius: 0.1875rem;
@button-borderWidth: 0.0625rem;
@button-borderStyle: solid;
@button-borderColor: transparent;
@button-backgroundColor: #fff;
@button-focus-borderColor: blue;

@button--link-color: inherit;
@button--link-hover-color: inherit;

@button-transition: border 500ms ease-out;

// -------------------- Core LEGO --------------------
.Button() {
	.padding-vertical(@button-paddingVertical);
	.buttonSize(@button-fontSize; @button-borderRadius);
	.boxSizing(border-box);
	.userSelect(none);
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	background-color: @button-backgroundColor;
	display: inline-block;
	cursor: pointer;
	overflow: visible;
	min-width: @button-minWidth;
	width: auto;
	border: @button-borderWidth @button-borderStyle @button-borderColor;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	.transition(@button-transition);

	&[disabled],
	&.is-disabled {
		.Button-is-disabled()
	}

	&:active,
	&.is-active {
		.Button-is-active(@button-backgroundColor);
	}

	&:focus,
	&.is-focus {
		.Button-is-focus();
	}
}

// -------------------- Descendands --------------------
.Button-icon() {
	vertical-align: top;
}

// -------------------- Modifiers --------------------
.Button--block() {
	display: block;
	width: 100%;
}

.Button--icon() {
	background: none;
	margin: 0;
	padding: 0;
	min-width: inherit;
	border: none;

	&:hover, &:focus {
		background: none;
		color: inherit;
	}

	&:focus {
		outline: none;
	}
}

.Button--link() {
	border: 0;
	background: none;
	color: @button--link-color;

	&:hover, &:focus {
		color: @button--link-hover-color;
		background: none;
	}
}

.Button-icon--left() {
	margin-right: 0.1875rem;
	float: left;
}

.Button-icon--right() {
	margin-left: 0.1875rem;
	float: right;
}

// -------------------- States --------------------
.Button-is-disabled() {
	pointer-events: none; // Future-proof disabling of clicks
	.opacity(.65);
	.boxShadow(none);
}

.Button-is-active(@backgroundColor, @borderColor: transparent) {
	background-color: darken(@backgroundColor, 8%);
	border-color: darken(@borderColor, 8%);
	box-shadow: inset 0 0.1875rem 0.3125rem rgba(red(@backgroundColor), green(@backgroundColor), blue(@backgroundColor), .125);
}

.Button-is-focus(@focus-borderColor: @button-focus-borderColor) {
	outline: @focus-borderColor @base-outline-style @base-outline-width;
}

// -------------------- Mixins --------------------

.buttonSize(@fontSize; @borderRadius: 3px) {
	font-size: @fontSize;
	.lineHeight-calculatedFromFontSize(@fontSize, @button-fontSize, @button-lineHeight);
	.borderRadius(@borderRadius);
	.padding-horizontal(@fontSize / 2);
}

.buttonVariant(@textColor, @backgroundColor, @borderColor: transparent, @hoverColor: #fff, @focus-borderColor: @button-focus-borderColor) {
	color: @textColor;
	background-color: @backgroundColor;
	border-color: @borderColor;

	&:hover,
	&:focus {
		background-color: darken(@backgroundColor, 8%);
		border-color: darken(@borderColor, 8%);
		color: @hoverColor;
	}

	&:focus {
		.Button-is-focus(@focus-borderColor);
	}

	&:active,
	&.is-active {
		.Button-is-active(@backgroundColor);
	}
}

.buttonLinkVariant(@color) {
	color: @color;
	background-color: transparent;
	border: 0;

	&:hover, &.is-active {
		color: darken(@color, 8%);
		background-color: transparent;
		border: 0;
	}
}

.buttonVariantWhite(@borderColor) {
	color: @borderColor;
	background-color: #fff;
	border-color: @borderColor;

	&:hover {
		background-color: @borderColor;
		border-color: @borderColor;
		color: #fff;
	}

	&:active,
	&.is-active {
		.Button-is-active(@borderColor);
		color: #fff;
	}
}