@import "../core.less";

//********************************************
//	Button Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
@button-borderRadius: 5px;
@button-borderWidth: 1px;
@button-borderStyle: solid;
@button-borderColor: transparent;
@button-padding: 0 10px;
@button-minHeightBaselineUnits: 6;

// -------------------- Core LEGO --------------------
.Button() {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: @button-borderWidth @button-borderStyle @button-borderColor;
	padding: @button-padding;
	border-radius: @button-borderRadius;
	//.box-sizing(border-box);
	//.user-select(none);

	.min-height(@button-minHeightBaselineUnits);

	&:focus,
	&.is-focus {
		.buttonFocus();
	}

	&:active,
	&.is-active {
		outline: 0;
		background-image: none;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}

	// Should this be in the core?
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		.opacity(.65);
		box-shadow: none;
	}
}

// -------------------- Descendands --------------------


// -------------------- Modifiers --------------------


// -------------------- Mixins --------------------

// WebKit-style focus
.buttonFocus() {
	// Default
	outline: thin dotted #333;
	// WebKit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.buttonVariant(@textColor; @backgroundColor; @borderColor) {
	color: @textColor;
	background-color: @backgroundColor;
	border-color: @borderColor;

	&:hover,
	&:focus,
	&:active {
		color: @textColor;
		background-color: darken(@backgroundColor, 8%);
		border-color: darken(@borderColor, 8%);
	}

	&:active {
		background-image: none;
	}
}

.buttonSize(@button-padding-vertical; @button-padding-horizontal; @button-fontSize; @button-borderRadius);
	font-size: @fontSize;
	padding: @padding;
}
