//********************************************
//	FormField Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height


@formField-default-placeholder-color: #BBBBBB;
@formField-default-fontColor: #585858;
@formField-default-borderRadius: .3125em;
@formField-marginBottom: 10px;
@formField-textarea-minHeight: 100px;

@formField-icon-size: 34px;
@formField-icon-top: .4em;

@formField-label-marginBottom: 3px;
@formField-inputs-textIndent: 1.5em;

// -------------------- Core LEGO --------------------
.Form() {
	width: 100%;
}

// -------------------- Descendands --------------------
.Form-item() {
	display: block;
	position: relative;
}

.Form-icon() {
	.Textbox,
	.Textarea,
	.Selectbox {
		text-indent: @formField-inputs-textIndent;
		width: 100%;
	}

	.Icon {
		position: absolute;
		top: @formField-icon-top;
	}
}

.Form-itemLabel() {
	display: block;
	display: block;
}