//********************************************
//	Textbox Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
@textbox-marginRight: 3px;
@textbox-fontSize: 1em;
@textbox-border: 1px solid rgba(0, 0, 0, 0.15);
@textbox-borderRadius: 3px;
@textbox-placeholder-color: #BBBBBB;
@textbox-fontColor: #585858;


// -------------------- Core LEGO --------------------
.Textbox() {

	color: @textbox-fontColor;
	margin: 0;
	padding: @textbox-fontSize / 2 @textbox-fontSize;
	font-size: @textbox-fontSize;

	border: @textbox-border;
	outline: none;
	border-radius: @textbox-borderRadius;

	&::-webkit-input-placeholder {
		color: @textbox-placeholder-color;
	}
	&::-moz-placeholder {
		color: @textbox-placeholder-color;
	}
}