@import "../core.less";

//********************************************
//	Label Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
@label-fontSize: 13px;
@label-fontFamilly: Arial, sans-serif;
@label-minWidth: 20px;
@label-padding: 5px 7px;
@label-borderRadius: 4px;

@label-border: 1px solid #c8c8c8;
@label-background: #fff;
@label-fontColor: #5b5b5b;

@label-hover-border: 1px solid #06a3d5;
@label-hover-background: #06a3d5;
@label-hover-fontColor: #fff;


// -------------------- Core LEGO --------------------
.Label() {
	display: inline-block;
	text-align: center;
	font-size: @label-fontSize;
	font-family: @label-fontFamilly;
	cursor: pointer;
	white-space: nowrap;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	width: auto;
	white-space: nowrap;
	overflow: visible;
	min-width: @label-minWidth;
	border: @label-border;
	padding: @label-padding;
	border-radius: @label-borderRadius;
	.boxSizing(border-box);
	.userSelect(none);

	&:hover {
		text-decoration: none;
		border: @label-hover-border;
		background: @label-hover-background;
		color: @label-hover-fontColor;
	}
}

// -------------------- Descendands --------------------


// -------------------- Modifiers --------------------


// -------------------- States --------------------


// -------------------- Mixins --------------------

// Type variants
// -------------------------

// Change padding, font-size, line-height and border-radius
.labelSize(@paddingVertical; @paddingHorizontal; @fontSize; @lineHeight; @borderRadius) {
	font-size: @fontSize;
	padding: @paddingVertical @paddingHorizontal;
	line-height: @lineHeight;
	.borderRadius(@borderRadius);
}

// Label variants
// -------------------------
//apply active state to buttons with type modifiers only

.labelVariant(@bgColor, @fontColor, @border: 1px solid @bgColor) {
	background-color: @bgColor;
	color: @fontColor;
	border: @border;
}