//********************************************
//	Link Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height
@grid-marginRight: 1%;


// -------------------- Core LEGO --------------------
.Link() {
	&:link,
	&:visited {
		text-decoration: none;
	}
	margin: 0px 5px 0px 0px;
	display: inline-block;
	font-size: 13px;
}

// -------------------- Modifiers --------------------

// -------------------- Mixins --------------------
.linkTypeVariant(@color, @hoverColor) {
	color: @color;

	&:hover,
	&.is-active {
		color: @hoverColor;
	}
}