//********************************************
//	Link Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height
@link-marginTop: 0;
@link-marginBottom: 0;
@link-marginLeft: 0;
@link-marginRight: 0;
@link-textDecoration: none;

// -------------------- Core LEGO --------------------
.Link() {
	&:link,
	&:visited {
		text-decoration: @link-textDecoration;
	}
	
	.margin-top(@link-marginTop);
	.margin-bottom(@link-marginBottom);
	.margin-left(@link-marginLeft);
	.margin-right(@link-marginRight);
	
	display: inline-block;
	font-size: inherit;
}

// -------------------- Modifiers --------------------

// -------------------- Mixins --------------------
.linkTypeVariant(@color, @hoverColor) {
	color: @color;

	&:hover,
	&.is-active {
		color: @hoverColor;
	}
}