@import "../core.less";
//********************************************
//	ListGroup Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
// Default link color
@listGroup-fontColor: inherit;
@listGroup-fontSize: 1em;

// Margin / Padding
@listGroup-padding: 0;

// Used when header and text are together
@listGroup-itemHeading-fontColor: #333;
@listGroup-fontColor: #333;

// Background on items
@listGroup-item-bgColor: #fff;
@listGroup-item-bgColorHover: #f5f5f5;
@listGroup-item-padding: 8px 16px;

// Borders
@listGroup-item-borderWidth: 1px;
@listGroup-item-borderStyle: solid;
@listGroup-item-borderColor: #d8d8d8;
@listGroup-item-borderColorActive: #ddd;
@listGroup-item-borderRadius: 5px;

//Acordion
@ListGroup--acordion-lineHeight: 37px;
@ListGroup--acordion-header-bgColor: #faf9f9;
@ListGroup--acordion-body-bgColor: #fff;

@listgroup-icon-fontSize: 28px;
@listgroup-icon-margin: 0px 5px;
@listgroup-icon-color: #06A3D5;

// -------------------- Core LEGO --------------------
.ListGroup () {
	padding: @listGroup-padding;
	border: @listGroup-item-borderWidth @listGroup-item-borderStyle @listGroup-item-borderColor;;
}

// -------------------- Core descendants --------------------
.ListGroup-item () {
	position: relative;
	display: block;
	font-size: @listGroup-fontSize;
	background-color: @listGroup-item-bgColor;
	text-decoration: none;

	// Place the border on the list items and negative margin up for better styling
	border-bottom: @listGroup-item-borderWidth @listGroup-item-borderStyle @listGroup-item-borderColor;
	padding: @listGroup-item-padding;

	&:last-child {
		border: 0;
	}

	// ---------- State classes ----------
	&.is-active,
	&.is-active:focus {
		border-color: @listGroup-item-borderColorActive;

		.ListGroup-itemHeading {
			color: @listGroup-fontColor; // Force color to inherit for custom content
		}

		.ListGroup-itemText {

		}
	}
}

.ListGroup-icon() {
	font-size: @listgroup-icon-fontSize;
	margin: @listgroup-icon-margin;
	position: relative;
}

.ListGroup-itemHeader() {
	cursor: pointer;
	height: @ListGroup--acordion-lineHeight;
	line-height: @ListGroup--acordion-lineHeight;
	background-color: @ListGroup--acordion-header-bgColor;
	border-bottom: @listGroup-item-borderWidth @listGroup-item-borderStyle @listGroup-item-borderColor;
	margin-bottom: @listGroup-item-borderWidth;

	// Hover state
	&:hover,
	&:focus {
		background-color: @listGroup-item-bgColorHover;
	}
}

.ListGroup-itemBody() {
	border-bottom: @listGroup-item-borderWidth @listGroup-item-borderStyle @listGroup-item-borderColor;
	margin-bottom: @listGroup-item-borderWidth;
	display: none;
	padding: 5px;

	.is-active & {
		display: block;
	}
}

// The Heading itself (like h4.ListGroup-itemHeading)
.ListGroup-itemHeading () {
	color: @listGroup-itemHeading-fontColor;
}

// Text element
.ListGroup-itemText () {

}

// -------------------- Mixins --------------------
.listGroupItemVariant(@listGroup-color, @listGroup-bgColor,  @listGroup-header-bgColor) {
	color: @listGroup-color;
	background-color: @listGroup-bgColor;
	&:hover {
		background-color: darken(@listGroup-header-bgColor, 4%);
	}

	.ListGroup-itemHeader {
		background-color: @listGroup-header-bgColor;
		&:hover {
			background-color: darken(@listGroup-header-bgColor, 4%);
		}
	}
}

// ListGroup with rounded corners
.ListGroup--round () {
	.ListGroup-item {
		&:first-child {
			.borderRadius--top(@listGroup-item-borderRadius);
		}
		&:last-child {
			.borderRadius--bottom(@listGroup-item-borderRadius);
		}
	}
}

.ListGroup--accordion() {

	.ListGroup-item {
		padding: 0;
		border: 0;

		&.is-active {
			background-color: transparent;
		}

		.Listgroup-icon {
			color: @listgroup-icon-color;
		}
	}
}