//********************************************
//	Nav Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height

//Nav item focus
@nav-item-focus-fontColor: #0079a0;
@nav-item-focus-background: #eee;

//Nav item disabled
@nav-item-disabled-fontColor: #bababa;
@nav-item-disabled-background: #eee;

//Nav item active
@nav-item-active-background: #eee;
@nav-item-active-fontColor: #0079a0;

// -------------------- Core LEGO --------------------
.Nav() {
	padding: 0px;
	position: relative;
	.clearfix();
}

// -------------------- Descendands --------------------
.Nav-item() {
	list-style: none;
	float: left;
	padding: 5px 10px;

	&:hover {
		background-color: @nav-item-focus-background;
	}
}

// -------------------- States --------------------
.Nav-item-is-disabled() {
	background: @nav-item-disabled-background;
	color: @nav-item-disabled-fontColor;
	pointer-events: none;

	.Link,
	.Link:hover {
		color: @nav-item-disabled-fontColor;
	}
}

.Nav-item-is-active() {
	background: @nav-item-active-background;
	color: @nav-item-active-fontColor;

	.Link,
	.Link:hover {
		color: @nav-item-active-fontColor;
	}
}

.Nav-item-is-focus() {
	background: @nav-item-focus-background;
	color: @nav-item-focus-fontColor;

	.Link,
	.Link:hover {
		color: @nav-item-focus-fontColor;
	}
}

// -------------------- Modifiers --------------------