//********************************************
//	Pagination Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
@pager-padding: 0px;
@pager-item-padding: 0 3px;
@pager-separator-padding: 0px 3px;
@pager-separator-fontColor: #ddd;
@pager-borderBottom: 1px solid #e4e4e4;
@paging-active-fontColor: #5B5B5B;
@paging-disabled-fontColor: #777;


// -------------------- Core LEGO --------------------
.Pager() {
	text-align: center;
	padding: @pager-padding;
	border-bottom: @pager-borderBottom;
	.clearfix;
}

// -------------------- Descendands --------------------
.Pager-item() {
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
}

.Pager-separator() {
	padding: @pager-separator-padding;
	color:@pager-separator-fontColor;
}

// -------------------- Modifiers --------------------

// -------------------- States --------------------
.Pager-item-is-active() {
	.pagerItemVariant(@paging-active-fontColor, @paging-active-fontColor);
	cursor: default;
}

.Pager-item-is-disabled() {
	.pagerItemVariant(@paging-disabled-fontColor, @paging-disabled-fontColor);
	cursor: not-allowed;
}

// -------------------- Mixins --------------------
.pagerItemVariant(@fontColor, @hoverFontColor) {
	color: @fontColor;

	&:hover {
		color: @hoverFontColor;
	}
}

// -------------------- Variants --------------------