//********************************************
//	Panel Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
// Either use baseline units or pixels for margin/padding/height

// ----- Wrapper
@panel-marginTop: 2;
@panel-marginBottom: 2;
@panel-color: inherit;
@panel-backgroundColor: #fff;
// Border
@panel-borderWidth: 0.0625rem;
@panel-borderStyle: solid;
@panel-borderColor: black;
@panel-borderRadius: 0.5rem;

// ----- Header
@panel-header-borderWidth : 0 0 0.0625rem;
@panel-header-borderStyle: solid;
@panel-header-borderColor: black;

// ----- Heading
@panel-heading-fontFamily: inherit;
@panel-heading-marginTop: 1;
@panel-heading-marginBottom: 1;
@panel-heading-paddingLeft: 0.625rem;
@panel-heading-paddingRight: 0.625rem;
@panel-header-backgroundColor: #fff;
@panel-heading-color: inherit;

// ----- Body
@panel-body-paddingLeft: 0.625rem;
@panel-body-paddingRight: 0.625rem;

// -------------------- Core LEGO --------------------
.Panel() {
	//color: @panel-color;
	border-width: @panel-borderWidth;
	border-style: @panel-borderStyle;
	border-color: @panel-borderColor;
	border-radius: @panel-borderRadius;
	background-color: @panel-backgroundColor;
	.margin-top(@panel-marginTop);
	.margin-bottom(@panel-marginBottom);
}

// -------------------- Descendands --------------------

// Wrapper around .Panel-heading
.Panel-header() {
	overflow: auto; // For margin elements and background
	background-color: @panel-header-backgroundColor;
	border-top-left-radius: @panel-borderRadius;
	border-top-right-radius: @panel-borderRadius;
	border-width: @panel-header-borderWidth;
	border-style: @panel-header-borderStyle;
	border-color: @panel-header-borderColor;
}

.Panel-heading() {
	font-family: @panel-heading-fontFamily;
	color: @panel-heading-color;
	padding-left: @panel-heading-paddingLeft;
	padding-right: @panel-heading-paddingRight;
	.margin-top(@panel-heading-marginTop);
	.margin-bottom(@panel-heading-marginBottom);
}

.Panel-body() {
	padding-left: @panel-body-paddingLeft;
	padding-right: @panel-body-paddingRight;
}

// -------------------- Modifiers --------------------
.Panel-body--highlight() {
	.Panel-body();
	background-color: #e6e6e6;
	border: 0.0625rem solid darken(#e6e6e6, 10%);
	border-width: 0.0625rem 0;

	&:last-child {
		border-bottom: none;
		border-bottom-left-radius: @panel-borderRadius;
		border-bottom-right-radius: @panel-borderRadius;
	}
}

.Panel--transparent() {
	border: 0;
	border-radius: 0;
	background-color: transparent;

	.Panel-header {
		background-color: transparent;
	}
}

// -------------------- Mixins --------------------

// Create the descendands that should be in all modifiers
.createPanelModifier(@color, @bgColor, @border, @header-bgColor, @heading-color) {
	color: @color;
	border: @border;
	background-color: @bgColor;

	.Panel-header {
		background-color: @header-bgColor;
	}

	.Panel-heading {
		color: @heading-color;
	}
}