//********************************************
//	Selectbox Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------
@selectbox-marginRight: 3px;
@selectbox-fontSize: @base-fontSize;
@selectbox-lineHeight: @base-lineHeight;
@selectbox-paddingVertical: 0px;

@selectbox-borderWidth: 1px;
@selectbox-borderStyle: solid;
@selectbox-borderColor: #585858;
@selectbox-borderRadius: 3px;
@selectbox-placeholder-color: #BBBBBB;
@selectbox-fontColor: #585858;
@selectbox-bgColor: #fff;

// -------------------- Core LEGO --------------------
.Selectbox() {
	.borderRadius(@selectbox-borderRadius);
	border: @selectbox-borderWidth @selectbox-borderStyle @selectbox-borderColor;
	outline: none;
	background-color: @selectbox-bgColor;
	max-width: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;

	&:after {
		position: absolute;
		line-height: 100%;
		top: 0;
		right: 5px;
		font-family: "Menicon";
		font-weight: normal;
		font-size: 16px;
		content: "\e63C";
		z-index: 0;
	}

	.selectboxSize(@selectbox-fontSize);
}

.Selectbox-input() {
	.font-size(@selectbox-fontSize);
	.padding-vertical(@selectbox-paddingVertical);

	color: @selectbox-fontColor;
	border: 0;
	width: 140%;

	&:focus {
		outline: none;
	}
}

// ---------------------- Mixins ---------------------
.selectboxVariant(@borderColor, @fontColor) {
	border-color: @borderColor;	

	&:focus,
	&.is-focus {
		box-shadow: inset 0 1px 1px @borderColor;
	}
	
	&:after {
		color: @fontColor
	}

	.Selectbox-input {
		color: @fontColor;	
	}

	.Selectbox-icon {
		color: @fontColor;
	}
}

//Mixin to resize the selectbox
.selectboxSize(@fontSize) {
	.lineHeight-calculatedFromFontSize(@fontSize, @selectbox-fontSize, @selectbox-lineHeight);

	.Selectbox-input {
		font-size: @fontSize;
	}
}

//Mixin to set a fixed width on the selectbox
.selectboxWidth(@width) {
	max-width: @width;

	.Selectbox-input {
		padding-right: @width;
	}
}