//********************************************
//	Tab Container Core
//********************************************/

// When writing Lego's we use BEM naming conventions.
// Do NOT put any dimensions like font-size/line-height/size/padding/margin etc. into the core Lego unless it's configurable
// The purpose of these Lego's is to have them as trimmed as possible and themed later

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @lego--modifier-property ex: @button--warning-borderColor
// @lego--modifier-descendand-property ex: @listGroup-itemHeading-fontSize

// --- Global ---
// Either use baseline units or pixels for margin/padding/height

// -------------------- Variables --------------------
@tab-border: 1px solid #d8d8d8;
@tab-padding: 15px 10px;
@tab-marginBottom: 10px;
@tab-item-borderRadius: 3px;


// -------------------- Core LEGO --------------------
.Tab() {
	width: 100%;
}

// -------------------- Descendands --------------------
.Tab-item() {
	display: none;
	margin-top: 0px;
	width: 100%;
	border-bottom: 0px;
	border: @tab-border;
	padding: @tab-padding;
	margin-bottom: @tab-marginBottom;
	border-top: 0px;
	background: #fff;
}

// -------------------- States --------------------
.Tab-item-is-active() {
	display: block;
}

// -------------------- Type modifiers --------------------
.Tab-item--round {
	.borderRadius--top(@tab-item-borderRadius);
}
