/********************************************
	Table
********************************************/

/// Naming conventions:
// LegoName
// LegoName--modifierName
// LegoName-descendantName
// LegoName.is-stateOfLego
// Variable names:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize

// -------------------- Variables --------------------

//Table variables
@table-bg: transparent;
@table-bg-hover: #f5f5f5;
@table-bg-active: @table-bg-hover;
@table-borderWidth: 1px;
@table-borderStyle: solid;
@table-borderColor: #d8d8d8;

//Table caption
@table-caption--paddingVertical: 10px; 
@table-caption--paddingHorizontal: 5px;

//Table cell variables
@table-cell--paddingVertical: 10px; 
@table-cell--paddingHorizontal: 5px; 
@table-cell-borderWidth: 1px;

//Table head variables
@table-head-cell-borderWidth: 2px;

//Table footer variables
@table-footer-cell-borderWidth: 2px;

//Table striped variables
@Table--striped-bgColor: #f9f9f9;


// -------------------- Core LEGO --------------------
.Table() {
	width: 100%;
	display: table;
	border-collapse: collapse;
}

// -------------------- Descendants --------------------
.Table-cell() {
	padding: @table-cell--paddingVertical @table-cell--paddingHorizontal;
	border-top: @table-cell-borderWidth @table-borderStyle @table-borderColor;
	line-height: normal;
	vertical-align: middle;
	display: table-cell;
}

.Table-row() {
	display: table-row;
	width: 100%;
}

.Table-colgroup() {
	display: table-column-group;
}

.Table-col() {
	display: table-column;
}

.Table-head() {
	display: table-header-group;

	.Table-cell {
		border-bottom: @table-head-cell-borderWidth @table-borderStyle @table-borderColor;
		border-top: 0;
		font-weight: 700;
	}

	.Table--bordered & .Table-cell {
		border-top: @table-borderWidth @table-borderStyle @table-borderColor;
	}
}

.Table-body() {
	width: 100%;
	display: table-row-group;

	.Table--bordered & .Table-cell {
		border-bottom: @table-borderWidth @table-borderStyle @table-borderColor;
	}
}

.Table-footer() {
	display: table-footer-group;

	.Table-cell {
		border-top: @table-footer-cell-borderWidth @table-borderStyle @table-borderColor;
		border-bottom: @table-borderWidth @table-borderStyle @table-borderColor;
		font-weight: bold;
	}
}




// -------------------- Modifiers --------------------

// -------------------- Table type modifiers --------------------
.Table--striped() {
	.Table-body {
		.Table-row:nth-child(odd) {
			.Table-cell {
				background-color: @Table--striped-bgColor;
			}
		}
	}
}

.Table--bordered() {
	.Table-cell {
		border-right: 1px @table-borderStyle @table-borderColor;

		&:first-child {
			border-left: 1px @table-borderStyle @table-borderColor;
		}
	}
}

.Table--condensed() {
	.Table-cell {
		padding: 0px 5px;
		line-height: 2em;
	}

	.Table-footer {
		.Table-cell {
			padding: 0 5px;
		}
	}
}

// -------------------- Table row modifiers --------------------
.Table-row--highlight() {
	.Table-cell {
		background-color: #FAF9F9;
	}
}

.Table-row--hover() {
	&:hover {
		.Table-cell {
			background-color: #FAF9F9;
		}
	}
}

.Table-row--noBorder() {
	.Table-cell {
		border: 0 !important;
	}
}

.Table-row--full() {
	.Table-cell {
		padding: 0;
	}
}

// -------------------- Table-cell layout modifiers --------------------
.Table-cell--full() {
	padding: 0;
}

.Table-cell--indented() {
	padding-left: 32px !important;
	position: relative;

	.Icon {
		position: absolute;
		left: 5px;
		top: 0;
	}
}

// -------------------- Mixins --------------------
.tableRowVariant(@row-bgColor, @row-fontColor, @row-hover-bgColor, @row-hover-fontColor) {

	background-color: @row-bgColor;
	color: @row-fontColor;
	cursor: pointer;
	.Button {
		background-color: #fff;
		color: @row-bgColor;
	}
	.Table-row--hover:hover &,
	&.hover:hover {
		background-color: @row-hover-bgColor;
		color: @row-hover-fontColor;
		cursor: pointer;

		.Button {
			background-color: #fff;
			color: @row-hover-bgColor;
		}
	}
}