// -------------------- Buttons variables --------------------

// -------------------- Default --------------------
@buttonBorderRadius: 5px;


// -------------------- Modifiers --------------------

// .Button--default
@buttonDefaultTextColor: #fff;
@buttonDefaultBgColor: #000;
@buttonDefaultBorderColor: darken(@buttonDefaultBgColor, 10%);


// .Button--primary
@buttonPrimaryTextColor: #fff;
@buttonPrimaryBgColor: #ff8400;
@buttonPrimaryBorderColor: darken(@buttonPrimaryBgColor, 10%);