//********************************************
//	Legolize baseline - variables
//********************************************/

// Naming conventions:
// @legoModifier-property ex: @buttonPrimary-borderColor
// @legoModifier-descendand-property ex: @listGroup-itemHeading-fontSize


@baseline: 0.375rem; // the baseline unit
@baseline-topOffset: 0.1875rem; // default offset for 14/24px font-size/line-height

@baseline-fontSize: @base-fontSize;
@baseline-lineHeight: @base-lineHeight;

// -------------------- Variables --------------------
// Just basic sizes used initially so baseline works out of the box
// these will probably be overwritten somewhere else
@baselineHeadingOne-fontSize: 2rem;
@baselineHeadingTwo-fontSize: 1.87500rem;
@baselineHeadingThree-fontSize: 1.5rem;
@baselineHeadingFour-fontSize: 1.3125rem;
@baselineHeadingFive-fontSize: 1.25rem;
@baselineHeadingSix-fontSize: 1rem;